:root {
  --main-bg-color: #F7F7F7;
  --main-color: #293E40;
  --btn-color: var(--main-color);
  --btn-hover-color:#81B5A1;
}
body {
    font-family: 'Helvetica', sans-serif !important;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    overflow-y: auto;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
div#container {
  width: 270px;
  margin: auto;
}
form#options-form {
    margin: auto;
    padding-top: 10px;
    width: 95%;
    min-width: 400px;
    line-height: 2.5em;
}
legend {
  background-color: var(--main-color);
  color: var(--main-bg-color);
  padding: 3px 12px;
  font-size: large;
  border-radius: 4px;
}
img.top-commands {
    position: absolute;
    width: 25px;
    cursor: pointer;
    top: 15px; 
}
img#config {
    right: 7px;
}
.option-label, .option-input {
  margin-left: 5px;
  display: inline-block;
  line-height: 30px;
  font-size: large;
  color: var(--main-color);
  cursor: pointer;
}
input[type=range], select {
    width: 98%;
    padding: 10px 18px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
}
button {
  width: 100%;
  background-color: var(--btn-color);
  color: var(--main-bg-color);
  padding: 7px 10px;
  margin: 3px 0;
  border: 1px var(--main-color) solid;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}

button:hover {
    background-color: var(--btn-hover-color);
}
#timeCounter {
  text-align: center;
  font-size: 3em;
}
#pageDiv{
  min-width:350px;
  max-width:700px;
  position:relative;
  margin:auto;
}
#clockContainer {
  margin: auto;
  cursor: pointer;
}
#clockFace {
  stroke-width: 2px;
  stroke: #fff; 
}
#clockHandSeconds { 
  stroke-width: 1px; 
  stroke: var(--btn-hover-color); 
}
#clockHandMinutes { 
  stroke-width: 1px; 
  stroke: #fff; 
}
.mark {
  stroke-width: 1px; 
  stroke: #fff;   
}
