:root {
  color-scheme: light;
  --clock-mark-color: #F7F7F7;
  --clock-min-color: #81B5A1;
  --clock-sec-color: #F7F7F7;
}
/* If user prefers a dark appearance */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
body {
    font-family: 'Helvetica', sans-serif !important;
    overflow-x: hidden;
    overflow-y: auto;
}
a {
    text-decoration: none;
}
div#container {
    width: 270px;
    margin: auto;
}
div#standardTimers {
    display: inline-block;
}
div#advancedTimers {
    display: none;
}
form#options-form {
    margin: auto;
    margin-right:10px;
    padding-top: 5px;
    width: 93%;
    min-width: 370px;
    line-height: 2.5em;
}
legend {
    padding: 3px 12px;
    font-size: large;
    border-radius: 4px;
}
img.top-commands {
    position: absolute;
    width: 25px;
    cursor: pointer;
    top: 15px; 
}
img#config {
    right: 7px;
}
img#help {
    right: 40px;
}
label {
  font-size: large;
}
.option-label, .option-input, .option-comment {
    margin-left: 5px;
    display: inline-block;
    line-height: 20px;
    cursor: pointer;
}
.option-comment {
  font-size: small;
}
input[type=range], select {
    width: 98%;
    padding: 10px 18px;
    margin: 3px 0;
    display: inline-block;
    box-sizing: border-box;
}
button {
  width: 100%;
  padding: 7px 10px;
  margin: 3px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}
#exportStatsJSON, #exportStatsCSV {
  display: none;
}
#timeCounter {
  text-align: center;
  font-size: 3em;
}
#pageDiv{
  min-width:350px;
  max-width:700px;
  position:relative;
  margin:auto;
}
#clockContainer {
  margin: auto;
  cursor: pointer;
}
#clockFace {
  stroke-width: 3px;
}
#clockHandSeconds { 
  stroke-width: 1px; 
  stroke: var(--clock-sec-color); 
}
#clockHandMinutes { 
  stroke-width: 1px; 
  stroke: var(--clock-min-color); 
}
.mark {
  stroke-width: 2px; 
  stroke: var(--clock-mark-color);
}
